<html>

<center>

	<body background="backgroundtest.jpeg">

<h1> <big> <font color="#FF6600"> <b> Storage Boss! </b> </font> </big> </h1>

<select>
  <option value="brendon">Brendon</option> 
  <option value="jessica">Jessica</option> 
  <option value="sharon">Sharon</option>
</select>

<p> <small> <font color="#99FF00"> Choose Your User ID! </font> </small> </p>

<p> <big> <font color="#FF6600"> <b> Welcome to Storage Boss! </b> </font> </big> </p>

</body>

</center>

</html>