<html>

<center>

	<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<style type="text/css">
body {
	background-color: #0F0;
}
</style>
</head>

<body>
<div border="0" src="/images/banner.jpg" alt="banner" width="500" height="100">
</body>
</html>

<h1> <big> <font color="#FF6600"> <b> Storage Boss! </b> </font> </big> </h1>

<select>
  <option value="brendon">Brendon</option> 
  <option value="jessica">Jessica</option> 
  <option value="sharon">Sharon</option>
</select>

<p> <small> <font color="#99FF00"> Choose Your User ID! </font> </small> </p>

<p> <big> <font color="#FF6600"> <b> Welcome to Storage Boss! </b> </font> </big> </p>

</body>

</center>

</html>