<center>
	<%= image_tag "Banner.fw.png" %><br>
<div class="loginbackgound">
	<%= image_tag "BackgroundTemplate.fw.png" %>

				<div id="content">
				<font size="5" font face="calibri" color="#0000FF"></div>

			<b>Welcome<br>
				to the <br>
				Log in Page!</b>
			</font>
			

			
				<font size="2" font face="calibri" color="#C000000">
					<p><i><u>Please log in here to access your Storage Boss account;</u></i></p>
				<form action="loggedinhome.html.erb">
				&#8226;Username: <input type="text" name="login"><br>
				&#8226;Password: <input type="password" name="submit">
					 <br>
					 <input type="submit" value="Log In"
						<form method="link" action="loggedinhome.html.erb"> 
						</form> 
	</div>			
</div>
</center>
