<html>
<center><h1><big><font color="#FF6600"><b>Storage Boss!</b></big> </font> </h1></center>

<select>
	<center>
  <option value="brendon">Brendon</option> 
  <option value="jessica">Jessica</option> 
  <option value="sharon">Sharon</option>
</center>
</select>

<center><p><small><font color="#99FF00">Choose Your User ID!</small> </font> </p></center>

<center><p><big><font color="#FF6600"><b><Welcome to Storage Boss!></b></big> </font> </p></center>

</html>