<h1> <font color="#008000">Storage Boss! </font> </h1>

<html>
<select>
  <option value="brendon">Brendon</option> 
  <option value="jessica">Jessica</option> 
  <option value="sharon">Sharon</option>
</select>

<p><small>Check for the dropdown menu</small></p>

