<html>
<center><h1> <font color="#FF6600"><big><b>Storage Boss!</b></big> </font> </h1></center>

<select>
  <option value="brendon">Brendon</option> 
  <option value="jessica">Jessica</option> 
  <option value="sharon">Sharon</option>
</select>

<center><p><small><font color="#99FF00">Choose Your User ID!</small></p></center>
<center><p><font color="#FF6600"><big><b><Welcome to Storage Boss!></b></big></p></center>

</html>