<center>

<div id="container" style="width:400px">

<div id="header" style="background-color:#00FF00;height:40px;width:400px">
	<h1 style="margin-bottom:0;">
		<font size="6" font face="tahoma" color="#C00000"><center>Storage Boss!</center></font></h1></div>

<div id="menu" style="background-color:#0000FF;height:120px;width:80px;float:left;">
	<font size="2" font face="calibri" color="#FFFFFF">
<center>

</body>

<br>
<br>
<b>Welcome<br>
	to the <br>
	Log in Page!</b>
</center>
</font>
</div>

<div id="content" style="background-color:#CCFFFF;height:120px;width:320px;float:left;">
	<font size="2" font face="calibri" color="#C000000">
		<center><p><i><u>Please log in here to access your Storage Boss account;</u></i></p></center>
	<form action="">
	&#8226;Username: <input type="text" name="username"><br>
	<form action="">
	&#8226;Password: <input type="password" name="password">
	<center>
			<form method="link" action="www.google.co.uk"> <input type="submit" value="Log In">
			</form>
</center>
</form>

</form>
</div>

<div id="footer" style="background-color:#00FF00;clear:both;text-align:right;">
<font size="1" font face="tahoma">Brendon Wells</font></div>

</center>
